#formSection{
    margin-top: 50px;
    width: 100vw;
    height: 50vh;
    /* background-color: aqua; */
    display: flex;
 text-align: center;
    flex-direction: column;
}

#formSection input{
    width: 300px;
    height: 30px;
}


#formSection button{
    width: 100px;
    height: 30px;
    background-color: #ff7878;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}