#navbar
{
    width: 100vw;
    height: 70px;
background-color: #d5d5d5;
display: flex;
justify-content: space-around;
align-items: center;
position: sticky;

}
nav{
    position: sticky;
    top: 0;
}

#logo img{
    width: 50px;
    height: 50px;
}
#navbar ul{
    display: flex;
justify-content: space-around;
list-style: none;
width: 400px;
font-size: 20px;
}

#navbar button
{
    background-color: #ff7878;
    height: 56px;
    width: 250px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
}